__pycache__/
.src/
.lib/
*.egg-info/
.DS_Store
.python-version
.vscode/

# Ignore results
results/*
jit_tmp*


## Core latex/pdflatex auxiliary files:
**/*.aux
**/*.lof
**/*.log
**/*.lot
**/*.fls
**/*.out
**/*.toc
**/*.fmt
**/*.fot
**/*.cb
**/*.cb2
**/*.lb
**/*.synctex.gz
**/*.fdb_latexmk
# **/*.pdf
**/report.pdf
**/*.bbl
**/*.blg

# Coverage files
.coverage
coverage.xml

data/cache
*.so
*.c
